.navbar-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    width: 84%;
    margin-left: 10rem;
    margin-right: 10rem;
}

.logo {
    cursor: pointer;
    font-size: 3rem;
    color: #313131;
}

.list-container {
    display: flex;
    justify-content: end;
    width: 100%;
}

.list {
    color: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item {
    cursor: pointer;
    margin: 2rem 2rem;
    font-size: 2rem;
    font-weight: 700;
}

.subscribe-container {
    margin-right: 10rem;
}

.button {
    cursor: pointer;
    color: #DFDDD0;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.075rem;
    border: none;
    border-radius: 5px;
    width: 16rem;
    height: 4rem;
    background-color: #313131;
}

.list-menu-container {
    animation-duration: 0.5s;
    animation-name: slidein;
    background-color: #313131;
    width: 100vw;
    height: 30vh;
    position: absolute;
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.list-menu-item {
    color: #DFDDD0;
    font-size: 1.5rem;
}

.icon {
    font-size: 3rem;
    margin-left: 3rem;
    display: flex;
    justify-content: end;
    width: 100%;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }



  @media only screen and (max-width: 1080px){
    .navbar-container {
        width: 100vw;
        margin-right: 2rem;
        gap: 2rem;
    }
    .list {
        color: #313131;
        display: flex;
        align-items: center;
    }
    .logo-container {
        margin-left: 1rem;
    }
    .logo {
        font-size: 2.5rem;
    }
    .list-item {
        font-size: 1.5rem;

        margin: 1rem 1rem;
    }
    .subscribe-container {
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 720px){
    .navbar-container {
        margin-top: 2rem;
        width: 84%;
        margin-left: 1rem;
        margin-right: 1rem;
    }    
    .icon {
        margin-right: 0;
    }
}

