.full-container {
    background-color: #1E1E1E;
    width: 100vw;
    height: 120vh;
}

.next-events {
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    align-items: center;
    height: 25vh;
}

.subtitle {
    color: #DFDDD0;
    text-align: center;
    width: 25%;
    font-size: 3rem;
}

.arrow-container {
    width: 75%;
    display: flex;
    justify-content: end;
}

.carrusel-container {
    height: 80vh;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    height: 80vh;
}

#carrusel-image {
    object-fit: fill;
}

.image-carousel {
    height: 80vh;
    width: auto;
    display: block;
}

.arrow-container-mobile {
    display: none;
}

@media only screen and (min-width:1081px) and (max-width:1439px) {
    .full-container {
        margin-top: 0rem;
    }
}

@media only screen and (min-width:721px) and (max-width:1080px) {
    .full-container {
        margin-top: 70rem;
    }


    .image-carousel {
        height: 50vh;
        width: auto;
    }

    .carrusel-container {
        height: 50vh;
    }

    .carousel-inner {
        height: 50vh;
    }

    .subtitle {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 2rem;
    }

    .arrow-container {
        display: none;
    }

    .arrow-container-mobile {
        margin-top: 10rem;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 720px) {
    .full-container {
        margin-top: 15rem;
    }


    .image-carousel {
        height: 50vh;
        width: auto;
    }

    .carrusel-container {
        height: 50vh;
    }

    .carousel-inner {
        height: 50vh;
    }

    .subtitle {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 2rem;
    }

    .arrow-container {
        display: none;
    }

    .arrow-container-mobile {
        margin-top: 10rem;
        display: flex;
        justify-content: center;
    }
}